@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: radial-gradient(rgb(143, 84, 17),rgb(180, 39, 29));
  overflow: hidden;
}

main {
  display: block;
  width: 100%;
  height: 100%;
  transition: background-color ease-in 2s;
  background-color: #000000;
}

main.active {
  background-color: transparent;
}

.layer                                                                                                                                                                                                                                                                                                                                                                                                               {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  display: block;
  top: 5px;
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: capitalize;
  color: #cccccc;
  font-size: 40px;
  line-height: 40px;
}

nav {
  display: flex;
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > button {
  box-sizing: border-box;
  font-size: 30px;
  line-height: 30px;
  color: #cccccc;
  text-decoration: underline;
  text-transform: capitalize;
  text-align: center;
  padding: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: background-color 0.2s;
  width: 100%;
}

nav > button:hover, nav > button:focus {
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
}


#world {
  position: absolute;
  display: block;
  background-color: rgba(0,0,0,0.55);
  width: 500px;
  height: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50px, -50px);
}

#world.changing {
  will-change: transform;
}


.actor {
  background-color: #000;
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
}

.actor#Character {
  border-radius: 100%;
  transition: background-color 0.2s;
  background-color: #fff;
  left: 50%;
  top: 50%;
}

.actor#Character.active {
  background-color: rgba(0,255,0,0.5);
}

.hidden {
  display: none;
}
